@import "minima";

body {
  background-color: #f8f9fa;
  color: #222;
}

.site-header {
  background-color: #003366; /* σκούρο μπλε */
}

.site-title, .site-title:visited {
  color: #ffffff !important;
}

a {
  color: #0055a5;
}

a:hover {
  color: #003366;
}

.btn-inline {
  background-color: #2a7ae2;
  color: white !important;
  border-radius: 6px;
  padding: 4px 10px;
  text-decoration: none;
}

.btn-inline:hover {
  background-color: #1d5fb8;
}
