---
---
// -----------------------------
// Custom Minima theme overrides
// -----------------------------


$brand-color:       #A50044; // links
$brand-color-dark:  #7C0033; // hover
$text-color:        #1A1A1A; // main text
$background-color:  #F5F5F5; // background
$grey-color:        #666666; // secondary text
$grey-color-light:  #DDDDDD; // borders
$grey-color-dark:   #333333; // headers

@import "minima"; // το κάνεις πάντα μετά τα variables

// Custom CSS overrides
a {
  color: $brand-color;
  text-decoration: none;

  &:hover {
    color: $brand-color-dark;
    text-decoration: underline;
  }
}

header.site-header {
  background-color: #0C2340;
  color: #EDBB00 !important;
  border-bottom: 4px solid $brand-color;
}

footer.site-footer {
  background-color: #0C2340;
  color: #EDBB00;
}

.site-title,
.site-title:visited {
  color: #EDBB00 !important;
}

.post-title {
  color: #0000FF !important;
}

code, pre {
  background-color: #EAEAEA;
  color: #0C2340;
}

blockquote {
  border-left: 4px solid $brand-color;
  color: #333;
}
.site-nav a {
  color: #ffffff !important;
  text-decoration: none;
  margin: 0 15px;
  font-weight: bold;
  transition: color 0.3s ease;
}
