// -----------------------------
//  SCSS για Minima
// -----------------------------

$brand-color:       #A50044; // κόκκινο για links
$brand-color-dark:  #7C0033; // πιο σκούρο red hover
$text-color:        #1A1A1A; // σχεδόν μαύρο
$background-color:  #F5F5F5; // ανοιχτό φόντο
$grey-color:        #666666; // δευτερεύον κείμενο
$grey-color-light:  #DDDDDD; // borders
$grey-color-dark:   #333333; // για headers

@import "minima";

// Custom overrides
a {
  color: $accent-color;
  text-decoration: none;
  &:hover {
    color: darken($accent-color, 20%);
    text-decoration: underline;
  }
}

header.site-header {
  background-color: $primary-color;
  color: #EDBB00;
  border-bottom: 4px solid $accent-color;
}

footer.site-footer {
  background-color: #0C2340;
  color: #EDBB00;
}

.site-title a {
  color: #EDBB00 !important;
}

.post-title {
  color: $primary-color;
}

code, pre {
  background-color: #EAEAEA;
  color: #0C2340;
}

blockquote {
  border-left: 4px solid $accent-color;
  color: #333;
}
